


.input {
    vertical-align: middle;
}



.items2 {
    padding: var(--pad);
    font-size: 22px;
    border-radius: 8px;
    background: var(--color2);
    justify-content: start;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}

.item2 {
    border-top: #ffffff06 2px solid;
    padding: 14px 0 12px 0;
    width: 100%;
    display: flex;
    vertical-align: middle;

}

.item2 .label {
    height: 100%;
    vertical-align: middle;
}


.item2 .label .name {
    display: flex;
    background: #fff1;
    height: 100%;
    border-radius: 15px;
    vertical-align: middle;
    padding: 8px 26px;
    align-items: center;
}

.item2 .input {
    padding: 8px 26px;
    width: 100%;
}

.item2 .inputradio {
    display: inline-block;
}


.hue {
    font-weight: 500;

}

#showold {
    vertical-align: middle;
    height: 100%;
}

.btn_1 {
    cursor: pointer;
background: hsl(0, 5%, 15%);
border: none;
color: #bebebf;
padding: 12px 14px;
font-size: 22px;
border-radius: 8px;
}


.btn_3 {
    cursor: pointer;
    background: rgb(114, 26, 26);
    color: #bebebf;
    border: none;
    padding: 12px 14px;
    font-size: 22px;
    border-radius: 8px;
}

.otazka {
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    border: #0004 8px solid;
    border-radius: 20px;
    padding: 20px;
    position: fixed;
    max-width: 450px;
    max-height: 600px;
    background: #222228;
    width: 100%;
    height: 100%;
    font-size: 24px;
    z-index: 500;
}

.otazka input {
    font-size: 0.8em;
}

#bginput {
    width: 100%;
    height: 100%;
}

.close {
    font-size: 0.9em;
    background: hsl(0,37%,48%);
    color: #fff8;
    border: none;
    padding: 5px 8px;
    border-radius: 8px;
}


.big {
    width: 100%;
}

[souborbtn] {

        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      
}