* {
    box-sizing: border-box;
}

:root {
    --color3: #222228;
    --color4: #000;
    --labelw: 200px;
}

.settings {
    background: var(--color3);
    overflow-x: hidden;
}

.settings main {
    padding: 0;
    width: 100vw;
    margin: 0;
    padding: 0 18px;
    display: block;
}

.input {
    vertical-align: middle;
}

.settings .title {
    background: #020208;
}


.items2 {
    padding: var(--pad);
    font-size: 22px;
    border-radius: 8px;
    border: var(--color4) 0px solid;
    justify-content: start;
    gap: 5px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.item2 {
    border-top: #ffffff06 2px solid;
    padding: 14px 0 12px 0;
    width: 100%;
    display: flex;
    vertical-align: middle;

}

.item2 .label {
    text-align: center;
    height: 100%;
    width: 200px;
    vertical-align: middle;
}


.inputradio label {
    display: inline-block;
    padding: 3px 0;
}

.item2 .label .name {
    display: flex;
    height: 100%;
    border-radius: 15px;
    vertical-align: middle;
    padding: 20px 12px;
    justify-content: center;
    align-items: center;
}

.item2 .input {
    color: #bebebf;
    justify-content: start;
    display: flex;
    padding: 8px 26px;
    align-items: center;
    width: 100%;
}

.item2 .inputradio {
    display: inline-block;
    text-align: start;
}


.hue {
    font-weight: 500;

}

#showold {
    vertical-align: middle;
    height: 100%;
}

.btn_1 {
    cursor: pointer;
    background: transparent;
    border: mediumslateblue 1px solid;
    color: #bebebf;
    padding: 12px 14px;
    font-size: 22px;
    border-radius: 8px;
}


.btn_3 {
    cursor: pointer;
    background: #B71C1C;
    color: #bebebf;
    border: none;
    padding: 12px 14px;
    font-size: 22px;
    border-radius: 8px;
}

.btn1_ {
    background: mediumslateblue;
}