.txnumber {
    color: rgb(182, 222, 182);
    color: hsl(220,37%,68%);
}

.txuppercase {
    color: hsl(0,37%,48%);
}

.txcategory {
    color: #fff4;
    font-family: monospace;
}

.txstring {
    color: hsl(60, 50%, 55%);
}

/* 
.item .text::before {
    color: #fff4;
    font-family: monospace;
    content: ".";
}*/

/* 
.item .txcategory::after {
    content: ":";
}  */